@model List<Car> 
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul>
    @foreach (Car car in Model)
    {
        <li>
            <a asp-controller="Car" asp-action="Index" asp-route-id="@car.Id">
                @car.Color @car.Year
            </a>
        </li>
    }
</ul>